<div class="box">
  <form [formGroup]="formulario" (ngSubmit)="login()">
    <div class="box-header">
      <img src="../assets/img/logo.jpg" alt="" />
    </div>
    <div class="box-body">
      <h3>{{ "login.titulo" | translate }}</h3>
      <div class="box-language">
        <img
          class="pointer"
          (click)="setLanguage('es')"
          src="../assets/img/flags/es.png"
          alt=""
        />
        <img
          class="pointer"
          (click)="setLanguage('en')"
          src="../assets/img/flags/en.png"
          alt=""
        />
      </div>
      <div class="box-input">
        <i class="fa-light fa-user"></i>
        <input
          class="form-control"
          type="email"
          formControlName="email"
          placeholder="{{ 'login.mail' | translate }}"
        />
      </div>
      <div class="box-input">
        <i class="fa-light fa-lock"></i>
        <input
          class="form-control"
          type="password"
          formControlName="password"
          placeholder="{{ 'login.contrasena' | translate }}"
        />
      </div>
      <div class="box-recordar">
        <span class="f-18">{{ "login.recordar" | translate }}</span>
        <div class="slide">
          <mat-slide-toggle formControlName="recordar"> </mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <button class="btn" type="submit">
        {{ "login.acceder" | translate }}
      </button>
    </div>
  </form>
</div>

<notifier-container></notifier-container>
